<!DOCTYPE html>
<html>
  <head>
    <title>Depotonrails5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--为html的视图层生成body 框架 并定义class 以使用与scss样式表-->
  <body class="<%=controller.controller_name%>">
    <%= yield %>
  </body>
</html>
