<!DOCTYPE html>
<html>
  <head>
    <title>淘宝网</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--为html的视图层生成body 框架 并定义class 以使用与scss样式表-->
  <body class="<%=controller.controller_name%>">
    <div id="banner">
      <%=image_tag 'logo.jpg',alt: "图片加载失败"%>
      <span class="title"><%=@page_title%></span>
      <span class="time"><%=showTime%></span>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><a href="http://www....">Home</a></li>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contact</a></li>
        </ul>
      </div>
      <div id="main">

        <%= yield %>
      </div>
    </div>

  </body>
</html>
